export(getSqlTypeInfo, odbcClearError, odbcClose, odbcCloseAll,
       odbcColumns, odbcConnect, odbcDriverConnect, odbcFetchRows,
       odbcGetErrMsg, odbcGetInfo , odbcPrimaryKeys, odbcQuery,
       odbcReConnect, odbcTables, odbcUpdate, setSqlTypeInfo,
       sqlClear, sqlColumns, sqlCopy, sqlCopyTable, sqlDrop, sqlFetch,
       sqlFetchMore, sqlGetResults, sqlPrimaryKeys, sqlQuery, sqlSave,
       sqlTables, sqlTypeInfo, sqlUpdate)

# not exported
# odbcCaseFlag, odbcClearResults, odbcColData, odbcNumCols,
# odbcSpecialColumns, odbcTableExists, odbcTypeInfo, odbcUpdate,
# odbcValidChannel, sqltablecreate, sqlwrite

S3method(close, RODBC)
S3method(print, RODBC)
if(tools:::.OStype() == "windows") {
export(odbcConnectAccess, odbcConnectDbase, odbcConnectExcel)
}
